<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <title>Template</title>

</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Template</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#model">Model</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top:80px">
        <!-- <a href="#test">test</a>  -->
        <div class="model-area" id="model">
            <h2>ATemplate</h2>
            <br>
            <div class="row">
                <div class="col-sm-7">
                    <p>Lorem ipsum dolor sit amet, laboris do enim cupidatat velit velit et. Ullamco quis nostrud esse excepteur amet deserunt dolor Lorem culpa eu deserunt. Anim consequat laborum Lorem aliqua ea cupidatat id qui commodo elit eu ad pariatur. Nostrud labore minim quis laborum commodo nisi et aute velit nulla eiusmod. Reprehenderit quis aliqua irure id esse aliquip tempor reprehenderit magna. Adipisicing aliquip ex elit Lorem eu elit amet consectetur cillum ad cupidatat minim minim esse ullamco et aliquip do do. Aute officia mollit reprehenderit ex aliqua esse dolore culpa culpa minim non. Ut laborum minim nostrud excepteur ex veniam cupidatat. Est consequat amet ullamco exercitation aliquip culpa adipisicing. Aute aliqua velit voluptate id tempor fugiat incididunt.
                    </p>
                </div>
                <div class="col-sm-5  ">
                    <p>Lorem ipsum dolor sit amet, laboris do enim cupidatat velit velit et. Ullamco quis nostrud esse excepteur amet deserunt dolor Lorem culpa eu deserunt. Anim consequat laborum Lorem aliqua ea cupidatat id qui commodo elit eu ad pariatur. Nostrud labore minim quis laborum commodo nisi et aute velit nulla eiusmod. Reprehenderit quis aliqua irure id esse aliquip tempor reprehenderit magna. Adipisicing aliquip ex elit Lorem eu elit amet consectetur cillum ad cupidatat minim minim esse ullamco et aliquip do do. Aute officia mollit reprehenderit ex aliqua esse dolore culpa culpa minim non. Ut laborum minim nostrud excepteur ex veniam cupidatat. Est consequat amet ullamco exercitation aliquip culpa adipisicing. Aute aliqua velit voluptate id tempor fugiat incididunt.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>