<h1>PHASE models</h1>
<div clas="bgbgTextBox">
    <p>
        This will be breif description of the PHASE externel projects.
    </p>
</div>
<h4> List of project models</h4>
<h2><a href="#!template">Your model name goes here</a></h2>
    <div class="ref">The name of authors and institutions here</div>
    <br>
    <div class="row">
      <div class="col-sm-7">
        <img src="img/img1.png" width="100%">
      </div>
      <div class="col-sm-5 bgTextBox "> 
          On the left is a screen shot of your model. put the image in the img folder. Here on the right put a abstract description of of your model. 
      </div>
    </div>