
  <div class="container" style="margin-top: 80px">
    <!-- <a href="#test">test</a>  -->
    <h2>Your model name goes here</h2>
    <div class="ref">The name of authors and institutions here</div>
    <br>
    <div class="row">
      <div class="col-sm-7">
        <img src="img/img1.png" width="100%">
      </div>
      <div class="col-sm-5 bgTextBox "> 
          On the left is a screen shot of your model. put the image in the img folder. Here on the right put a abstract description of of your model. 
      </div>
    </div>

  </div>

  <div class="container" style="margin-top: 80px">
    <h2>What is the NCD prevention challenge being addressed?</h2>
    <div class ="bgTextBox">
      <p>Out line the NDC problem you are addressing and </p>
    </div>
    
    <h2>How "your model name here" address the challenge?</h2>
    <div class ="bgTextBox">
      <p>An outline of what your model .. models</p>
    </div>

    <h2>What are the key components of the model?</h2>
    <div class ="bgTextBox">
      <p>Here you give a more detailed description of the model components and algorithm</p>
    </div>

    <h2>Model prerequisites </h2>
    <div class ="bgTextBox">
      <p>What are the software and hardware requirements to run your model? If you are using libraries or ABMIDE please place links to them here</p>
    </div>

    <h2>Model instructions</h2>
    <div class ="bgTextBox">
      <p>Please outline here how a user could run your model. Please place your model code and any instructions in the code folder</p>
    </div>

    <h2>What are the implications of these findings for policy or practice?</h2>
    <div class ="bgTextBox">
      <p>Please state here the implications of these findings for policy or practice</p>
    </div>

    <h2>Model documentation</h2>
    <div class ="bgTextBox">
      <p>Please list documaenataion here</p>
      <ul>
        <li>
          <a href="Docs/test.txt" download>
            Test.txt
          </a>
        </li>
      </ul>
    </div>

    <div class="card-body">
      <h3>Referances</h3>
      <p> To your papers of the model  and any mentioned in this page</p>
      <p>Christakis, Nicholas A., and James H. Fowler. "The spread of obesity in a large social
        network over 32 years." New England journal of medicine 357.4 (2007): 370-379.</p> 
    </div>

  </div>
